// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '../../node_modules/vis-timeline/styles/vis-timeline-graph2d.css';

.dashboard{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
	padding:15px;
	margin:15px 0;
	.headings{
		display: inline-block;
	}
}
